tr.data-row:has(div.banksync-confidence-high) {
    background-color: #00ff00;
}

div.banksync-confidence-high {
    background-color: #00ff00;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}

div.banksync-confidence-low {
}

.banksync-matched-text {
    background: #91ff91;
    display: inline-block;
    border-radius: 4px;
    padding: 1px 4px;
    color: #303030;
}

.banksync-matched-text .banksync-matched-text {
    padding: 0;
}
