<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="banksync_match" xsi:type="object">Ibertrand\BankSync\Console\Command\MatchTransactions</item>
                <item name="banksync_calc_hashes" xsi:type="object">Ibertrand\BankSync\Console\Command\CalcHashes</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Invoice\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="is_banksynced" xsi:type="string">sales_invoice.is_banksynced</item>
            </argument>
        </arguments>
    </virtualType>

</config>
